NEUROTRUST_DATA_ROOT=./backend/data
ACCESS_SESSION_HOURS=8
NEUROTRUST_DEMO_BATCH_ROOT=
NEUROTRUST_ACCESS_DB=
NEUROTRUST_ADMIN_SAFETY_KEY=
NEUROTRUST_ADMIN_SECOND_FACTOR=
BACKEND_PORT=8000
FRONTEND_PORT=5173
